@font-face {
  font-family: "Permanent Marker";
  src: url(./fonts/PermanentMarker.ttf) format("truetype"),
    url(./fonts/PermanentMarker.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter.ttf) format("truetype");
}

body,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.page {
  font-family: "Inter", sans-serif;
  background: #cdcccc;
}

.header {
  height: 100vh;
  background-image: url(./images/Header.avif);
  background-size: cover;
  background-position: center;
}

.header-title {
  font-family: "Permanent Maker", cursive;
  font-size: 140px;
  line-height: 140px;
  color: white;
  text-transform: uppercase;
  max-width: 1240px;
  margin: auto;
  text-align: center;
}

/* agrega el título de la página aquí */

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 790px;
  margin: 100px auto 50px;
}

.card {
  width: 350px;
  margin-bottom: 60px;
  padding: 45px 45px 70px;
  background: #ffffff;
  box-shadow: 4px 4px 5px rgba(29, 29, 29, 0.4);
}

.image-card {
  width: 100%;
  height: 350px;
  margin-bottom: 25px;
}

.title-card {
  font-family: "Permanent Marker", cursive;
  font-size: 24px;
  margin-bottom: 10px;
}

.text-card {
  font-size: 16px;
}

.footer {
  display: flex;
  min-height: 300px;
  background-color: black;
}

.signature {
  font-size: 24px;
  color: white;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .header-title {
    font-size: 90px;
    line-height: 100px;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 100px;
  }
  .card {
    width: 300px;
    margin-bottom: 60px;
    padding: 30px 45px 30px;
  }
  .title-card {
    font-size: 18px;
  }
  .text-card {
    font-size: 12px;
  }
  .image-card {
    width: 210px;
    height: 300px;
  }
}

@media screen and (max-width: 580px) {
  .header-title {
    font-size: 70px;
    line-height: 100px;
  }
}
